<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/css/reset.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
    <title>{{  title }} | Food Tech Life</title>
</head>
<body>
    <div class="wrapper">
        <header id="#top">
            <h3>FOOD TECH LIFE</h3>
            <nav>
                <ul>
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="https://youtube.com/foodtechlife">YouTube</a></li>
                    <li><a href="https://instagram.com/foodtechlife_">Instagram</a></li>
                </ul>
            </nav>    
        </header>
        <section>
            <h1>{{  title }}</h1>
            <article>
                {{ content | safe }}
            </article>
        </section>
        <footer><a href="#top">Back to Top</a></footer>
    </div>
</body>
</html>